@import url(produtos.css);

body{
	font-family: 'Roboto', sans-serif;
}

.banner {
	width:100%;
}

.titulo-principal {
	text-aling: center;
	font-size: 2em;
	margin: 0 0 1m;
	clear: left;
}

.principal{
	padding: 3em 0;
	background: #ffffff;
	width: 940px;
	margin: 0 auto;
}

.principal p{
	margin: 0 0 1em;
}

.principal strong{
	font-weight: bold;
}

.principal em{
	font-style: italic;
}

#missao {
	font-size: 20px
}

.utensilios {
	wight: 120px;
	float: left;
	margin: 0 20px 20px 0;
}

.beneficios {
	background: #FFFFFF;
	padding: 20px;
}

.conteudo-beneficios{
	width: 40%;
	margin: 0 auto;
}

.lista-beneficios{
	width: 40px;
	display: inline-block;
	vertical-align: top;
}

.imagem-beneficios {
	width: 60%;
	opacity: 1;
	transition: 400ms;
	box-shadow: 10px 10px 10px 0 #000000;
}

.imagem-beneficiosn:hover{
	opacity: 0.3;
}

.itens {
	font-style: italic;
}

.itens:first-child{
	font-weight: bold;
}

.itens:before{
	content: "⭐";
}

.mapa {
	padding: 3em 0;
	background: linear-gradient(#fefefe, #000000};
}

.mapa p{
	margin: 0 0 2em;
	text-align: center;
}

.video{
	width: 500px;
	margin: 1em auto;
}
